__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env/
.venv/
venv.bak/

.env
.env.local

build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.tox/
.nox/
.coverage
htmlcov/
.pytest_cache/

.ipynb_checkpoints

.vscode/
.idea/
.DS_Store